<script id="tracks-template" type="text/x-handlebars-template">
    {{#each search.data.tracks}}
    <div data-track-id="{{id}}" style="background-image:url(http://direct.rhapsody.com/imageserver/v2/albums/{{albumId}}/images/300x300.jpg)" class="cover">
      <div class="content-name">{{name}}</div>
      <audio controls class= "audio">
        <source src="{{previewURL}}" type="audio/mpeg">
      </audio>
      <!-- <div class="n-audio-player" data-src="{{previewURL}}" data-size="tiny" ></div> -->
    </div>  
    
    {{/each}}
</script>
